/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.logo img {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Estilos del menú */
.menu {
    display: none; /* Oculta el menú por defecto */
    background-color: #000; /* Fondo negro */
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto visual */
}

.menu.show {
    display: block; /* Muestra el menú cuando tiene la clase 'show' */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    text-align: center;
}

.menu ul li a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #575757; /* Color de fondo al pasar el ratón */
}

/* Estilos del contenido del encabezado */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 50px 20px;
    flex-wrap: wrap; /* Asegura que los elementos se acomoden en pantallas más pequeñas */
}

.header-text {
    flex: 1;
    max-width: 500px; /* Limita el ancho máximo del texto */
}

.header-title {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-subtitle {
    font-size: 24px;
    color: #f1c40f;
    background-color: #121212;
    padding: 10px;
}

.button {
    background-color: #f1c40f;
    color: #121212;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.header-image {
    flex: 1;
    max-width: 500px; /* Limita el ancho máximo de la imagen */
}

.header-image img {
    max-width: 100%;
    height: auto;
    display: block; /* Elimina el espacio debajo de la imagen */
}

.countdown {
    margin-top: 30px;
    font-size: 1.5em;
    background-color: #f1c40f; /* Fondo amarillo */
    color: #121212; /* Texto negro */
    padding: 20px;
    border-radius: 10px;
}

.countdown-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.countdown-text {
    font-size: 1em;
    margin-bottom: 20px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-box {
    background-color: #333;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    border-radius: 5px;
}

.time {
    font-size: 2em;
    display: block;
    color: #f1c40f; /* Texto amarillo */
}

.label {
    font-size: 1em;
    color: #f1c40f;
}
